[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "sssomani.github.io"]
	path = sssomani.github.io
	url = https://www.github.com/sssomani/sssomani.github.io.git
	branch = master
